$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 100px;
  padding-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #D69;
    z-index: 1;
    
    .btn,
    .btn:hover,
    .btn:focus,
    select#albums {
        margin-top: 15px;
        margin-bottom: 15px;
        background: rgba(0, 0, 0, 0);
        color: #FFF;
        font-size: 17px;
        height: 44px;
        border: 2px solid #FFF;
        outline: none !important;
        box-shadow: none;
        width: 100%;
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

#select-images {
    text-align: center;
    
    .row {
        margin-top: 10px;
    }
    
    .col-md-4 {
        position: relative;
        
        img {
            transition: box-shadow 0.1s linear;
            cursor: pointer;
        }
        
        &:after {
            pointer-events: none;
            content: "\e157";
            position: absolute;
            font-family: 'Glyphicons Halflings';
            top: 13px;
            left: 193px;
            display: block;
            color: #EEE;
            font-size: 25px;
            text-align: center;
            line-height: 32px;
            opacity: 0;
            transition: opacity 0.1s linear, color 0.1s linear;
        }
        
        &:hover:after {
            opacity: 0.7;
        }
    }
    
    .thumb {
        width: 220px;
        height: 220px;
        background-position: 50% 50%;
        background-size: cover;
    }
    
    .selected {
        
        img {
            box-shadow: inset 0px 0px 0px 5px #23DC53;
        }
        
        &:after,
        &:hover:after {
            content: "\e067";
            opacity: 1;
            color: #23DC53;
        }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
